<nav class="navbar navbar-expand-lg">
  <div class="col-xs-10 col-sm-2">
    <a class="site-logo" href="#"><img class="img-fluid" src="../../../../assets/images/logo.png" alt="logo"></a>
  </div>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">&#9776;</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-link text-white text-uppercase" href="#">Home</a></li>
      <li><a class="nav-link text-white text-uppercase" href="#">About Saned</a></li>
      <li><a class="nav-link text-white text-uppercase" href="#">Products</a></li>
      <li><a class="nav-link text-white text-uppercase" href="#">Resources</a></li>
      <li><a class="nav-link text-white text-uppercase" href="#">Testimonials</a></li>
      <li><a class="nav-link text-white text-uppercase" href="#">ContactUs</a></li>
    </ul>
  </div>
</nav>