.navbar-toggler-icon {
    color: white;
}
@media only screen and (max-width: 480px) {
    .navbar {
        flex-direction: row-reverse;
        flex-wrap: no-wrap;
        width: 100%;
    }
    .navbar > div {
        width: 80%;
    }
    .navbar > button {
        width: 20%;
    }
    .navbar-collapse {
        position: absolute;
        top: 76px;
        left: 25px;
        z-index: 9999;
    }
}
.navbar {
    position: relative;
}
@media only screen and (min-width: 481px) {
    .nav-link {
        padding: 0 0.5rem;
        border-bottom: 3px solid transparent;
    }
    .nav-link:hover, .nav-link:active {
        padding: 0 0.5rem;
        border-bottom: 3px solid #A7F108;
    }
}

