<section class="container">
    <div class="top_header">
        <ul class="top_section_left list-unstyled">
          <li class="text-white pr-20"><span class="top-icon glyphicon glyphicon-earphone primary-color"></span> +972-77-9322636</li>
          <li class="text-white"><i class="top-icon glyphicon glyphicon-envelope primary-color"></i> info@saned.com</li>
        </ul>
        <ul class="top_section_right list-unstyled no-padding">
          <li><a class="text-white text-uppercase pr-20" href="#">Login</a></li>
          <li><a class="text-white text-uppercase" href="#">Register</a></li>
        </ul>
      </div>
</section>