<section class="news-letter-section">
  <form class="example-form">
    <mat-card-title class="title">SINGUP FOR NEWS LETTER </mat-card-title>
    <div class="row">
      <div class="sign-up-input-field col-12 mx-auto mt-50">
        <input id="email" type="email" class="validate">
        <button class="signup-btn" type="submit" name="action">Submit
        </button>
      </div>
    </div>
  </form>
  </section>