@media only screen and (max-width: 480px) {
  .top_header {
    flex-direction: column;
    padding: 0 !important;
  }
  .top_section_left, .top_section_right {
    display: flex;
    justify-content: space-between;
  }
}

.top_header {
    padding: 20px 10px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
}
  
  .top_header .top_section_left .top-icon {
    font-size: 1.1em;
  }
  .pr-20{
    padding-right: 20px;
  }

  